body {
  font-family: Helvetica;
}

textarea {
  font-family: monospace;
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}

img.avatar {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.user {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #446699;
  height: 40px;
}

.user .avatar {
  float: right;
}

.user .name {
  display: block;
  text-align: right;
  color: white;
  margin: 5px;
  margin-top: 6px;
  margin-bottom: 0;
  font-size: 0.9em;
}

.user .logout {
  display: block;
  text-align: right;
  color: #ddd;
  text-decoration: none;
  font-size: 0.8em;
}


.code, .data {
  width: 50%;
  position: fixed;
  left: 0;
  background-color: #efefef;
}

.code {
  top: 40px;
  bottom: 50%;
}

.code textarea, .data textarea {
  height: 100%;
}

.data {
  top: 50%;
  bottom: 0;
}

.render {
  position: fixed;
  left: 52%;
  top: 50px;
  bottom: 0;
  right: 0;
  overflow: scroll;
}

textarea {
  width: 100%;
  height: 80%;
  position: relative;
  white-space: pre;
  word-wrap: normal;
  overflow-x: scroll;
  font-size: 1.1em;
}

.login {
  width: 200px;
  height: 40px;
  margin: auto;
  display: block;
  margin-top: 10%;
}

button.save-code {
  margin-bottom: 20px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  width: 100px;
  height: 30px;
}
